.m-btn{
    height: 48px;
    top: 20px;
    left: 1173px;
    gap: 0px;
    border-radius: 24px;
    opacity: 0px;
    background: rgba(249, 192, 106, 1);
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;

    font-family: Playfair Display;
font-size: 16px;
font-weight: 700;
line-height: 18.66px;
padding: 0 25px;

}